:root {
    --main-dark: #212221;
    --blue: #1181b2;
    --light-blue: #ddedf4;
    --main-bg: #f35f541d;
  }
  
  body {
    background-color: var(--main-bg);
  }
  
  p {
    color: var(--main-dark);
  }
  
  img {
    width: 100%;
    height: auto;
  }